body {
    background: url('../images/p4.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h2 {
    font-weight: bold;
    color: #333;
}

.form-container {
    background-color: #ffffff63;
    border-radius: 15px;
}

.form-control, .form-select {
    border: 2px solid #ddd;
    transition: all 0.3s ease;
}

.form-control:focus, .form-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
}

button {
    background: linear-gradient(45deg, #007bff, #0056b3);
    color: #fff;
    border: none;
    transition: transform 0.2s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #0056b3, #003f7f);
    box-shadow: 0 0 15px rgb(149, 0, 255);
}

footer p {
    margin: 0;
}

footer a {
    font-size: 1.2rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #007bff;
}
