/* Hero Banner */
.hero-banner {
    background: url('../images/p4.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.hero-overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* Footer */
.footer {
    font-size: 0.9rem;
    color: #ccc;
}

/* Social Icons */
.social-icons a {
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
    color: #ffc107;
    transform: scale(1.2);
}
